body {
  	background-color: black;
} 

.Josh{
	letter-spacing: .25em;
	word-spacing: .5em;
	text-transform: uppercase;
 	color: #500000;
 	text-indent: 1000px;
 	font-family: Lucida Console;
}

.Baird{
	letter-spacing: .25em;
	word-spacing: .5em;
	text-transform: uppercase;
 	color: #708090;
 	text-indent: 1000px;
 	font-family: Arial Black;
 	font-weight: bold;

}

p {
	
	font-family: Comic Sans MS
	
}

.date{
	text-align: left;
}
h2 {
	color: white;
	text-decoration: underline;
	font-family: Marker Felt;
	letter-spacing: .07em;
}

h3 {
	color: white;
	text-decoration: underline;
	font-family: Marker Felt;
	letter-spacing: .07em;
}

ul {
	color: white;
}

a:active{
	color: #500000;
}

a:hover{
  	background-color: #646464;
}

a:visited{
	color: #500000;
}

img{
	display: block;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	max-width: 250px;
	max-height: 330px; 
	text-align: left;
	border-radius: 50%;
}

i{
	display: inline-block;
  	position: relative;
  	padding-right: 5px;
}

.nonwhite{
	color: #500000;
}

ul{
	font-family: Comic Sans MS;
}
* {
    text-align: left;
  
}
.container{
	display: grid;
	grid-template-columns: 30% 70% ;
	
}

.container div:nth-child(1) {
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
    background-color: #708090;
 	

}

.container div:nth-child(2){

	background-color: lightgrey;
    padding-bottom: 15px;
    padding-left: 100px;
    padding-right: 100px;
    color: #500000;

}

.hobbies{
	text-align: center;
	padding-right: 20px;

}
.hobbies2{
	
	display: flex; 
	justify-content: center;
	padding-top: 25px;
	padding-bottom: 20px;

}

@media (max-width: 800px) {

	.container {
		display: flex;
		font-size: 105%;
	}
	.container div:nth-child(2){
		padding-left: 20px;
		padding-right: 20px;

	}
}

@media (max-width: 600px) {

	.container {
		display: block;
		font-size: 110%;
	}
	.container div:nth-child(2){
		padding-left: 20px;
		padding-right: 20px;

	}
}

@media (max-width: 458px) {

	.container {
		display: block;
		font-size: 95%;
	}
	.container div:nth-child(2){
		padding-left: 20px;
		padding-right: 20px;

	}
}
